body {
    --body-bg: radial-gradient(farthest-side ellipse at 10% 0,#333867 20%,#17193b);
    --widget-bg: rgba(0,0,0,0.24);
}

body {
    overflow-x: hidden;
    color: var(--text-color);
    background: var(--body-bg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: monospace;
    position: relative;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.card {
    display: block;
    position: relative;
    margin-bottom: 40px;
    padding: 1rem 1.5rem;
}

.bg-card {
    background: var(--widget-bg);
    border-radius: 10px;
    -webkit-box-shadow: 0 23px 20px -20px rgba(9,10,18,.1), 0 0 15px rgba(9,10,18,.06);
    box-shadow: 0 23px 20px -20px rgba(9,10,18,.1), 0 0 15px rgba(9,10,18,.06);
    padding: 1.2rem;
}

.card-3 {
    width: 33.333%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333%;
    flex: 0 0 33.333%;
    max-width: 33.333%;
}

.w-100 {
    width: 100%;
}

.text-white {
    color: rgba(244,244,245,.9);
}

.justify-between {
    justify-content: space-between;
    display: flex;
}

.container {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 2.85rem 2.85rem 3.85rem;
}

.card-team {
    flex-basis: 40%;
}

.card-versus {
    flex-basis: 20%;
}

.text-center {
    text-align: center;
}

.align-center {
    align-items: center;
}

.my-campeonato {
    margin-top: 1rem;
    margin-bottom: .5rem;
}

.news {
    margin-top: 20px;
}

.text-right {
    text-align: right;
}

.font-40 {
    font-size: 40px;
}

.margin-checkbox {
    margin-left: .5rem;
}

.card-title {
    padding-bottom: 1rem;
}